
body {
	width: 100%;
	padding:0;
	padding-top:10%;
	margin:0;
	font-family: "Verdana",Arial,  sans-serif;
}

#content {
	border:0;
	width:750px;
	text-align:center;
	margin:auto;
	color: #FF0000;
}
a, a:hover, a:active, a:focus, a:visited {
	color: #FF0000;
	text-decoration: none;
}
