
body {
	width: 100%;
	padding:0;
	padding-top:10%;
	margin:0;
	font-family: "Verdana",Arial,  sans-serif;
}

#content {
	border:0;
	width:750px;
	text-align:center;
	margin:auto;
}

.address {
	margin-top: 40px;
	color: #706f74;
	text-align:center;
	font-size: 12px;
}

.smallFont {
	line-height:20px;
	font-size: 10px;
}

a, a:hover, a:active, a:focus, a:visited {
	color: #1976a2;
	text-decoration: none;
}